@{ 
    var listLevels = ViewBag.ListLevels;
    var listProducts = ViewBag.ListProducts;

    int idOperative = Convert.ToInt32(Session["operative"]);
}

<div class="row">
    <div class="row">
        <div class="col s12">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">Registrar Producto en Bodega</span>
                    <div class="row">
                        <form class="col s12">
                            <div class="row">
                                <div class="input-field col s6">
                                    <select>
                                        <option value="" disabled selected>Escoger Nivel</option>
                                        @foreach (var item in listLevels)
                                        {
                                        <option value="@item.id_level">
                                            Nivel @item.id_level - Estante @item.shelf.letter - 
                                            Pasillo @item.shelf.hall.id_hall - 
                                            Bodega @item.shelf.hall.warehouse.name
                                        </option>
                                        }
                                    </select>
                                </div>

                                <div class="input-field col s6">
                                    <select>
                                        <option value="" disabled selected>Escoger Producto</option>
                                        @foreach (var item in listProducts)
                                        {
                                            <option value="@item.id_product">@item.name</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        </form>

                        <form class="col s12">
                            <div class="row">
                                <div class="input-field col s6">
                                    <input autofocus id="quantity" type="number" class="validate">
                                    <label for="first_name">Cantidad de Productos por lote</label>
                                </div>
                                <div class="input-field col s6">
                                    <input id="last_name" type="number" class="validate">
                                    <label for="last_name">Cantidad de lotes</label>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="card-action">
                    @Html.ActionLink("Escoger Estante", "ChooseHall",
                    new { id = idOperative })
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var elems = document.querySelectorAll('select');
        var instances = M.FormSelect.init(elems);
    });
</script>