
@{
    ViewBag.Title = "AddClientBusiness";
    Layout = "~/Views/Layouts/_LayoutAdminSystem.cshtml";

    var listTypeBusiness = ViewBag.ListTypeBusiness; // Llamamos al ViewBag de la lista
    var listSizeBusiness = ViewBag.ListSizeBusiness; // Llamamos al ViewBag de la lista
    var listTypeCard = ViewBag.ListTypeCard; // Llamamos al ViewBag de la lista
    var listCreditCard = ViewBag.ListCreditCard; // Llamamos al ViewBag de la lista
    var listClientBusiness = ViewBag.ListClientBusiness; // Llamamos al ViewBag de la lista

    int idClientBusiness = 0;

    foreach (var item in listClientBusiness)
    {
        idClientBusiness = item.id_client_business;
    }
}

<nav>
    <div class="nav-wrapper blue">
        <div class="col s12">
            &nbsp;&nbsp;
            <a href="/Index/Home" class="breadcrumb">Home</a>
            <a href="#" class="breadcrumb">Agregar Cliente</a>
        </div>
    </div>
</nav>

<div class="row">
    <div class="col s12">
        <div class="card darken-1">
            <div class="card-content">
                <h2 class="card-title">Agregar Cliente</h2>
                <hr>
                <div class="row">
                    <div class="col s12">
                        <ul class="tabs tabs-fixed-width tab-demo z-depth-1">
                            <li class="tab col s4"><a class="active" href="#test1">Tarjeta de Crédito</a></li>
                            <li class="tab col s4"><a href="#test2">Información Básica</a></li>
                            <li class="tab col s4"><a href="#test3">Información de Contactos</a></li>
                        </ul>
                    </div>

                    <div id="test1" class="col s12">
                        <br><br>
                        <div class="row">
                            @using (Html.BeginForm("InsertCreditCard", "CreditCard", FormMethod.Post))
                            {
                                <div class="col s12">
                                    <div class="row">
                                        <div class="input-field col s6">
                                            <input autofocus name="number_card" type="text" class="validate">
                                            <label for="first_name">Numero de Tarjeta</label>
                                        </div>
                                        <div class="input-field col s6">
                                            <input name="name_card" type="text" class="validate">
                                            <label for="last_name">Nombre de Tarjeta</label>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="input-field col s6">
                                            <input id="date" name="date_expiration" style="cursor: pointer;" placeholder="Fecha de Expiración" type="text" class="datepicker">
                                        </div>
                                        <div class="input-field col s6">
                                            <input name="crv" type="number" class="validate">
                                            <label for="last_name">CRV</label>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="input-field col s6">
                                            <select name="cbxTypeCard">
                                                <option value="" disabled selected>Tipo de Tarjeta</option>
                                                @foreach (var item in listTypeCard)
                                                {
                                                    <option value="@item.id_type_card">@item.type_card</option>
                                                }
                                            </select>
                                            <label>Tipo de Tarjeta</label>
                                        </div>
                                        <div class="input-field col s6">
                                            <button class="btn waves-effect waves-light" type="submit" name="action">
                                                Agregar Tarjeta
                                                <i class="material-icons right">add</i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>

                    <div id="test2" class="col s12">
                        <br><br>
                        <div class="row">
                            @using (Html.BeginForm("InsertClientBusiness", "ClientBusiness", FormMethod.Post))
                            {
                                <div class="col s12">
                                    <div class="row">
                                        <div class="input-field col s6">
                                            <input autofocus placeholder="Nombre" name="business_name" type="text" class="validate">
                                            <label for="first_name">Nombre de Empresa</label>
                                        </div>
                                        <div class="input-field col s6">
                                            <input name="nit_business" type="text" class="validate">
                                            <label for="last_name">NIT</label>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="input-field col s6">
                                            <input name="quantEmployees" type="number" class="validate">
                                            <label for="last_name">Numero de empleados</label>
                                        </div>
                                        <div class="input-field col s6">
                                            <select name="cbxTypeBusiness">
                                                <option value="" disabled selected>Tipo de Empresa</option>
                                                @foreach (var item in listTypeBusiness)
                                                {
                                                    <option value="@item.id_type_business">@item.type_business</option>
                                                }
                                            </select>
                                            <label>Materialize Select</label>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="input-field col s6">
                                            <select name="cbxCreditCard">
                                                <option value="" disabled selected>Nombre de Tarjeta</option>
                                                @foreach (var item in listCreditCard)
                                                {
                                                    <option value="@item.id_credit_card">@item.name_card</option>
                                                }
                                            </select>
                                            <label>Nombre de tarjeta</label>
                                        </div>
                                        <div class="input-field col s6">
                                            <div class="input-field col s6">
                                                <button class="btn waves-effect waves-light" type="submit" name="action">
                                                    Agregar Cliente
                                                    <i class="material-icons right">add</i>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        </div>
                    </div>

                    <div id="test3" class="col s12">
                        <div class="row">
<div class="input-field col s4">
    <a href="#modal1" class="waves-effect waves-light btn modal-trigger"><i class="material-icons right">shopping_cart</i>Comercial</a>
        @using (Html.BeginForm("AddComercialContact", "Contact", FormMethod.Post))
        {
        <div id="modal1" class="modal">
            <div class="modal-content">
                <h4>Contacto Comercial</h4><hr /><br />
                <div class="row">
                    <div class="card col s12"><br />
                        <div class="row">
                            
                        <div class="input-field col s6">
                            <select name="cbxClientBusiness">
                                <option value="" disabled selected>Empresa a la que pertenece</option>
                                @foreach (var item in listClientBusiness)
                                {
                                    <option value="@item.id_client_business">@item.name_client_business</option>
                                }
                            </select>
                            <label>Nombre Empresa</label>
                        </div>

                            <div class="input-field col s12">
                                <input name="name_contact" type="text" class="validate">
                                <label for="first_name">Nombre</label>
                            </div>

                            <div class="input-field col s12">
                                <input  name="dpi_contact" type="number" class="validate">
                                <label for="first_name">DPI</label>
                            </div>

                            <div class="input-field col s12">
                                <input name="celphone_contact" type="number" class="validate">
                                <label for="first_name">Celular</label>
                            </div>

                            <div class="input-field col s12">
                                <input name="officephone_contact" type="number" class="validate">
                                <label for="first_name">Teléfono Oficina</label>
                            </div>

                            <div class="input-field col s12">
                                <input name="extension_contact" type="number" class="validate">
                                <label for="first_name">Extensión</label>
                            </div>

                            <div class="input-field col s12">
                                <input name="email_contact" type="email" class="validate">
                                <label for="first_name">Email</label>
                            </div>

                            <div class="input-field col s12">
                                <input name="address_contact" type="text" class="validate">
                                <label for="first_name">Dirección Oficina</label>
                            </div>
                        </div>
                    </div>
                </div>

                </div>
            <div class="modal-footer">
                <button class="modal-close waves-effect blue white-text btn-flat" type="submit" name="action">
                    Agregar
                    <i class="material-icons right">send</i>
                </button>
            </div>
        </div>
    }
</div>

<div class="input-field col s4">
    <a href="#modal2" class="waves-effect waves-light btn modal-trigger"><i class="material-icons right">attach_money</i>Finanzas</a>
        @using (Html.BeginForm("addFinanceContact", "Contact", FormMethod.Post))
        {
        <div id="modal2" class="modal">
            <div class="modal-content">
                <h4>Contacto Comercial</h4><hr /><br />
                <div class="row">
                    <div class="card col s12"><br />
                        <div class="row">
                            
                        <div class="input-field col s6">
                            <select name="cbxClientBusiness">
                                <option value="" disabled selected>Empresa a la que pertenece</option>
                                @foreach (var item in listClientBusiness)
                                {
                                    <option value="@item.id_client_business">@item.name_client_business</option>
                                }
                            </select>
                            <label>Nombre Empresa</label>
                        </div>

                            <div class="input-field col s12">
                                <input name="name_contact" type="text" class="validate">
                                <label for="first_name">Nombre</label>
                            </div>

                            <div class="input-field col s12">
                                <input  name="dpi_contact" type="number" class="validate">
                                <label for="first_name">DPI</label>
                            </div>

                            <div class="input-field col s12">
                                <input name="celphone_contact" type="number" class="validate">
                                <label for="first_name">Celular</label>
                            </div>

                            <div class="input-field col s12">
                                <input name="officephone_contact" type="number" class="validate">
                                <label for="first_name">Teléfono Oficina</label>
                            </div>

                            <div class="input-field col s12">
                                <input name="extension_contact" type="number" class="validate">
                                <label for="first_name">Extensión</label>
                            </div>

                            <div class="input-field col s12">
                                <input name="email_contact" type="email" class="validate">
                                <label for="first_name">Email</label>
                            </div>

                            <div class="input-field col s12">
                                <input name="address_contact" type="text" class="validate">
                                <label for="first_name">Dirección Oficina</label>
                            </div>
                        </div>
                    </div>
                </div>

                </div>
            <div class="modal-footer">
                <button class="modal-close waves-effect blue white-text btn-flat" type="submit" name="action">
                    Agregar
                    <i class="material-icons right">send</i>
                </button>
            </div>
        </div>
    }
</div>

<div class="input-field col s4">
    <a href="#modal3" class="waves-effect waves-light btn modal-trigger"><i class="material-icons right">devices</i>Admin. Servicios</a>
        @using (Html.BeginForm("addAdminServicesContact", "Contact", FormMethod.Post))
        {
        <div id="modal3" class="modal">
            <div class="modal-content">
                <h4>Contacto Comercial</h4><hr /><br />
                <div class="row">
                    <div class="card col s12"><br />
                        <div class="row">
                            
                        <div class="input-field col s6">
                            <select name="cbxClientBusiness">
                                <option value="" disabled selected>Empresa a la que pertenece</option>
                                @foreach (var item in listClientBusiness)
                                {
                                    <option value="@item.id_client_business">@item.name_client_business</option>
                                }
                            </select>
                            <label>Nombre Empresa</label>
                        </div>

                            <div class="input-field col s12">
                                <input name="name_contact" type="text" class="validate">
                                <label for="first_name">Nombre</label>
                            </div>

                            <div class="input-field col s12">
                                <input  name="dpi_contact" type="number" class="validate">
                                <label for="first_name">DPI</label>
                            </div>

                            <div class="input-field col s12">
                                <input name="celphone_contact" type="number" class="validate">
                                <label for="first_name">Celular</label>
                            </div>

                            <div class="input-field col s12">
                                <input name="officephone_contact" type="number" class="validate">
                                <label for="first_name">Teléfono Oficina</label>
                            </div>

                            <div class="input-field col s12">
                                <input name="extension_contact" type="number" class="validate">
                                <label for="first_name">Extensión</label>
                            </div>

                            <div class="input-field col s12">
                                <input name="email_contact" type="email" class="validate">
                                <label for="first_name">Email</label>
                            </div>

                            <div class="input-field col s12">
                                <input name="address_contact" type="text" class="validate">
                                <label for="first_name">Dirección Oficina</label>
                            </div>
                        </div>
                    </div>
                </div>

                </div>
            <div class="modal-footer">
                <button class="modal-close waves-effect blue white-text btn-flat" type="submit" name="action">
                    Agregar
                    <i class="material-icons right">send</i>
                </button>
            </div>
        </div>
    }
</div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
