@model List<Entity.Contact_Entity>

@{
    ViewBag.Title = "InfoContact";
    Layout = "~/Views/Layouts/_LayoutAdminSystem.cshtml";

    int idClientBusiness = 0;

    List<int> idsContact = new List<int>();
    List<String> namesContact = new List<String>();
    List<String> dpisContact = new List<String>();
    List<String> celsContact = new List<String>();
    List<String> officeContact = new List<String>();
    List<String> addressesContact = new List<String>();

    foreach(var item in Model)
    {
        idClientBusiness = item.client_business.id_client_business;
        idsContact.Add(item.id_contact);
        namesContact.Add(item.name_contact);
        dpisContact.Add(item.dpi_contact);
        celsContact.Add(item.celphone);
        officeContact.Add(item.officephone);
        addressesContact.Add(item.address_office);
    }
}

<nav>
    <div class="nav-wrapper blue">
        <div class="col s12">
            &nbsp;&nbsp;
            <a href="/Index/Home" class="breadcrumb">Home</a>
            <a href="/ClientBusiness/EditClientBusiness/@idClientBusiness" class="breadcrumb">Clientes</a>
            <a href="#" class="breadcrumb">Contactos</a>
        </div>
    </div>
</nav>

<div class="row">
    <div class="col s12">
        <div class="card darken-1">
            <div class="card-content">
                <h2 class="card-title">Contactos</h2>
                <hr>
                <div class="row container">
                    <div class="col s12">
                        <ul class="tabs">
                            <li class="tab col s4"><a class="active" href="#test1">Comercial</a></li>
                            <li class="tab col s4"><a href="#test2">Gerencial</a></li>
                            <li class="tab col s4"><a href="#test3">Administrador</a></li>
                        </ul>
                    </div>

                    <div id="test1" class="col s12">
                        <br><br>
                        <div class="row">
                            <form class="col s12">
                                <div class="row">
                                    <div class="input-field col s6">
                                        <input value="@namesContact[0]" placeholder="Nombre" type="text" class="validate">
                                        <label for="first_name">Nombre</label>
                                    </div>
                                    <div class="input-field col s6">
                                        <input value="@dpisContact[0]" id="last_name" type="number" class="validate">
                                        <label for="last_name">DPI</label>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="input-field col s6">
                                        <input value="@celsContact[0]" id="last_name" type="number" class="validate">
                                        <label for="last_name">Celular</label>
                                    </div>
                                    <div class="input-field col s6">
                                        <input value="@officeContact[0]" id="last_name" type="number" class="validate">
                                        <label for="last_name">Teléfono de oficina</label>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="input-field col s12">
                                        <input value="@addressesContact[0]" id="last_name" type="text" class="validate">
                                        <label for="last_name">Dirección</label>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div id="test2" class="col s12">
                        <br><br>
                        <div class="row">
                            <form class="col s12">
                                <div class="row">
                                    <div class="input-field col s6">
                                        <input value="@namesContact[1]" placeholder="Nombre" id="first_name" type="text" class="validate">
                                        <label for="first_name">Nombre</label>
                                    </div>
                                    <div class="input-field col s6">
                                        <input value="@dpisContact[1]" id="last_name" type="number" class="validate">
                                        <label for="last_name">DPI</label>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="input-field col s6">
                                        <input value="@celsContact[1]" id="last_name" type="number" class="validate">
                                        <label for="last_name">Celular</label>
                                    </div>
                                    <div class="input-field col s6">
                                        <input value="@officeContact[1]" id="last_name" type="number" class="validate">
                                        <label for="last_name">Teléfono de oficina</label>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="input-field col s12">
                                        <input value="@addressesContact[1]" id="last_name" type="text" class="validate">
                                        <label for="last_name">Dirección</label>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div id="test3" class="col s12">
                        <br><br>
                        <div class="row">
                            <form class="col s12">
                                <div class="row">
                                    <div class="input-field col s6">
                                        <input value="@namesContact[2]" placeholder="Nombre" id="first_name" type="text" class="validate">
                                        <label for="first_name">Nombre</label>
                                    </div>
                                    <div class="input-field col s6">
                                        <input value="@dpisContact[2]" id="last_name" type="number" class="validate">
                                        <label for="last_name">DPI</label>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="input-field col s6">
                                        <input value="@celsContact[2]" id="last_name" type="number" class="validate">
                                        <label for="last_name">Celular</label>
                                    </div>
                                    <div class="input-field col s6">
                                        <input value="@officeContact[2]" id="last_name" type="number" class="validate">
                                        <label for="last_name">Teléfono de oficina</label>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="input-field col s12">
                                        <input value="@addressesContact[2]" id="last_name" type="text" class="validate">
                                        <label for="last_name">Dirección</label>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>