@model Entity.Module_Entity

@{
    ViewBag.Title = "EditModules";
    Layout = "~/Views/Layouts/_LayoutAdminSystem.cshtml";
}

<nav>
    <div class="nav-wrapper blue">
        <div class="col s12">
            &nbsp;&nbsp;
            <a href="/Index/Home" class="breadcrumb">Home</a>
            <a href="/Subscription/ListSubscriptions" class="breadcrumb">Modulos</a>
        </div>
    </div>
</nav>

<div class="row">
    <div class="col s12">
        <div class="card">
            <div class="card-content">

                @{
                    if (Model.status_mode)
                    {
                        @Html.ActionLink("Deshabilitar", "ChanguePassword",
                        new { id = Model.id_module, status = Model.status_mode })
                    }
                    else
                    {
                        @Html.ActionLink("Habilitar", "ChanguePassword",
                        new { id = Model.id_module, status = Model.status_mode })
                    }
                }

                <span class="card-title">Cliente @Model.name_module</span>
                <table class="responsive-table">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nombre</th>
                            <th>Abreviatura</th>
                            <th>Tipo de Modulo</th>
                        </tr>
                    </thead>

                    <tbody>
                        <tr>
                            <td>@Model.id_module</td>
                            <td>
                                <div class="input-field col s12">
                                    <input placeholder="Placeholder" value="@Model.name_module" id="first_name" type="text" class="validate">
                                </div>
                            </td>

                            <td>
                                <div class="input-field col s12">
                                    <input placeholder="Placeholder" value="@Model.abb_module" id="first_name" type="text" class="validate">
                                </div>
                            </td>

                            <td>
                                <div class="input-field col s12">
                                    <input readonly placeholder="Placeholder" value="@Model.typeModule.type_module" id="first_name" type="text" class="validate">
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<br /><br />